<table class="table">
  <tr>
    <th>Name</th>
    <th>E-mail address</th>
    <th></th>
  </tr>
  <tr *ngFor="let contact of contacts">
    <td>{{contact | contactName}}</td>
    <td>{{contact.email}}</td>
    <td>
      <button class="btn">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>

<form (ngSubmit)="addContact()" [formGroup]="addContactForm">
  <input type="text" formControlName="firstname">
  <input type="text" formControlName="surname">
  <input type="text" formControlName="email">

  <br><hr>
  <button>Add</button>
</form>
<pre>{{contacts|json}}</pre>
