
  <ul>
    <li><a routerLink="/home" routerLinkActive="activeMenu">Home</a></li>
    <li> <a routerLink="/books" routerLinkActive="activeMenu">Books</a></li>
    <li> <a routerLink="/json" routerLinkActive="activeMenu">Json</a></li>
    <li> <a routerLink="/login" routerLinkActive="activeMenu">Login</a></li>
  </ul>


<table class="table">
  <tr>
    <th>Id and Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Buttons</th>
    <th></th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{book | bookIdTitlePipe}}</td>
    <td>{{book.author}}</td>
    <td>{{book.genre}}</td>
    <td>
      <button class="btn">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>

<div class="boekInvoer">
  <form (ngSubmit)="addBook()" [formGroup]="addBookForm">
    <label>Id</label>
    <input type="number" formControlName="id">
    <label>Title</label>
    <input type="text" formControlName="title">
    <label>Author</label>
    <input type="text" formControlName="author">
    <label>Genre</label>
    <input type="text" formControlName="genre">

   <br><hr>
    <button>Add</button>
</form>
</div>

<router-outlet></router-outlet>
